
// Container with no padding for navbar



main{
  margin-top: 104px;
  @media screen and (max-width: $tablet){
      margin-top: 94px;

  }
}
.menu-toggle {
 
  width: 25px;
  display: block;
  
}
.menu-toggle  {

  span{
    width: 100%;
    height: 2px;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;
    &:last-child{
      margin-bottom: 0px;
    }
    background: #BB913B;
    
  }
  
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.13);
  z-index: 9999;
  height: 108px;
  @media screen and (max-width:768px){
    height: 75px;
  }
  box-sizing: border-box;
  background-color: #fff;

  
  @media screen and (max-width: $tablet){
    //height: 75px;
  }
  @media screen and (max-width: $mobile){
    //height: 60px;
  }
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);

  // .header__container

  &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      @media screen and (max-width:565px){
        flex-direction: row-reverse;
      }
      
  }

  // .header__wr-logo

  &__wr-logo {
      max-width: 200px;
    
      img{
          width: 100%;
      }
      @media screen and (max-width: $tablet){
        max-width: 180px;
      }
      @media screen and (max-width: $mobile){
        max-width: 150px;
      }
      
  }

  // .header__wr-nav

  &__wr-nav {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid  #707070;;
    max-width: 260px;
    width: 100%;
    justify-content: center;
    @media screen and (max-width:1280px){
      max-width: 190px;
    }
    @media screen and (max-width:565px){
      max-width: unset;
      width: unset;
      padding: 30px;
      border-left: 1px solid  #707070;;
      border-right: none;
    }
    @media screen and (max-width:400px){
      padding: 20px;
    }
  }
  
  // .header__nav

  &__nav {
    height: 100%;
    @media screen and (max-width: 1921px){
      height: unset;
    }
  }

  // .header__wr-burger

  &__wr-burger {
      display: none;
      
      @media screen and (max-width: 1921px){
          display: flex;
          align-items: center;
          justify-content: center;
          
      }
      

  }
}
.nav-links{
  padding-left: 30px;
  
  @media screen and (max-width: $tablet){
   padding-left: 0px;
   margin-right: 0px;
  }
}
.header__wr-nav.active {
  .nav {
    //display: flex !important;
    
    @media screen and (max-width:565px) {
      
      right: 0px;
      transition: right 0.5s;
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
  @media screen and (min-width: 1921px){
      display: flex !important;
  }
  @media screen and (max-width: 1921px){
      display: none;
      position: absolute;
      top: 108px;
      @media screen and (max-width:768px) {
        padding-bottom: 500px;
        top: 75px;
      }
      left: 0;
      width: 100%;
      background-color: #ffff;
      padding: 0 0 25px;
      box-sizing: border-box;
      box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.13);
  }
  @media screen and (max-width:565px) {
    left: unset;
    display: block;
    right: -100%;
    transition: right 0.5s;
  }
  @media screen and (max-width: $tablet){
   //top: 75px;
  }
  @media screen and (max-width: $mobile){
     // top: 60px;
  }
  
  ul{
    width: 100%;
    height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 1921px){
          flex-direction: column;
      }
    
  }
  li{
    margin: 0 auto;
    @media screen and (max-width:768px) {
     
      margin: 0px;
    }
    height: 100%;
      font-family: Arial;
      font-style: normal;
      
      font-size: 14px;
      line-height: 16px;
      
      /* identical to box height */
      
    text-transform: uppercase;
      color: #000;
      margin-right: 20px;
      position: relative;
      box-sizing: border-box;
      a {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        font-family: Average;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 41px;
        @media screen and (max-width:768px) {
          width: fit-content;
          justify-content: flex-start;
        }
/* identical to box height, or 133% */


color: #2F3256;
      }
      a:after {
        position: absolute;
        content: '';
        
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 0px;
        background-color: #009344;
        
        transition: height .25s ;
    }
    a:hover, a:focus {
      text-shadow: 0px 0px 1px #061622;
    }
    a:focus::after {
      height: 3px;
    }
    a:hover:after {
      
      height: 3px;
     
      
      transition: height .25s ;
    }
    

	 /* optional hover classes used with anmiation */
	  
      @media screen and (max-width: 1921px){
          margin-right: 0;
          
          width: 100%;
          padding: 0 15px;

      }
      &:last-child{
        margin-right: 0px;
          @media screen and (max-width: $tablet){
              

          }
      }
      a{
          text-align: center;
         
          color: #000;
          @media screen and (max-width: 1921px){
              padding: 10px 0;
              display: block;
              
          }

      }
  }
  // .nav__btn
  
 
}
.topp-header {
  background-color: #fafafa;
  box-sizing: border-box;
  
}

.header__wr-nav.active .menu-toggle span{
  
  
}
.menu-txt {
  margin-left: 20px;
  font-size : 22px;
  @media screen and (max-width:565px){
    display: none;
  }
}
.burger-block {
  display: flex;
  margin: 0 auto;
  pointer-events: none;
}
.logo-class {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  img {
    max-width: 303px;
    width: 100%;
    @media screen and (max-width:565px){
      margin-right: auto;
    }
  }
  @media screen and (max-width:1540px){
    position: relative;
  }
  @media screen and (max-width:768px){
    img {
      height: 71px;
    }
  }
}
.buttons {
  max-width: 507px;
  display: flex;
  width: 100%;
  @media screen and (max-width:991px){
    display: none;
  }
  .green-but {
    margin-right: 20px;
    @media screen and(max-width:1280px) {
      max-width: 150px;
      font-size: 13px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  .green-but-cust {
    background: #2F3256;
    max-width: 255px;
    img {
      margin-right: 10px;
      width: 25px;
      height: 30px;
    }
  }
}
.menu-toggle.burger span.top {
  -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.menu-toggle.burger span.middle {
  width: 100%;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
}
.menu-toggle.burger span.bottom {
  -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.header__wr-nav.active .menu-toggle span.top {
  -webkit-transform: rotate(45deg) translate(5px, 10px);
    -ms-transform: rotate(45deg) translate(5px, 10px);
    transform: rotate(45deg) translate(5px, 10px);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}
.header__wr-nav.active .menu-toggle span.middle{
  width: 0%;
    opacity: 0;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.header__wr-nav.active .menu-toggle span.bottom{
  -webkit-transform: rotate(-45deg) translate(0px, -5px);
    -ms-transform: rotate(-45deg) translate(0px, -5px);
    transform: rotate(-45deg) translate(0px, -5px);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    -o-transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}