 .img-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;;
}
.paragraph {
    font-family: Average;

    font-size: 25.7px;
    line-height: 48px;
/* identical to box height, or 187% */


}
.green-but {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    max-width: 200px;
    width: 100%;
    background: #B3924A;
    color: #FFFFFF;
font-weight: 600;
font-size: 15px;

}
.circle {
    width: 920px;
    height: 920px;
    border: 2px solid #B3924A;
    border-radius: 50%;;
}
