/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@mixin fluid-font($min, $max) {
	font-size: calc((#{$min+px}) + (#{$max} - #{$min}) * ((100vw - 320px) / (1920 - 320)));
	line-height: calc( 5px + (#{$min+px}) + (#{$max} - #{$min}) * ((100vw - 320px) / (1920 - 320)));
  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
a {
    display: flex ;
    justify-content: center ;
    align-items: center ;
}
button:hover {
    cursor: pointer;
}
button {
	border: none;
}
body , html {
	overflow-x: hidden;
	
}
p, a {
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 33px;
/* identical to box height, or 206% */



color: #2F3256;


}
h1 {
	font-family: Average;
font-style: normal;
font-weight: normal;
@include fluid-font(34,110 );

/* identical to box height, or 88% */



color: #2F3256;
}
h2 {
	font-family: Average;
font-style: normal;
font-weight: normal;
@include fluid-font(30,62 );
@media screen and (max-width:768px){
	font-size: 46px;
	line-height: 50px;
}
/* identical to box height, or 98% */



color: #2F3256;
}
h4 {
	font-family: Average;

@include fluid-font(24, 42);
/* identical to box height, or 156% */

display: flex;
align-items: center;

color: #2F3256;
}
h3{
	font-family: Average;

@include fluid-font(26, 46);
line-height: 61px;
/* identical to box height, or 133% */

display: flex;
align-items: center;

/* blue */

color: #2F3256;
}
h6 {
    font-family: Average;
	@include fluid-font(20 ,26 );
   font-size: 26px;
    line-height: 48px;
/* identical to box height, or 187% */


}
h5 {
	font-family: Average;

	
	@include fluid-font(25,35 );
	line-height: 67px;
	/* or 187% */


	text-align: center;

	color: #000000
}
img {
	height: auto;
}
body {
	*{
		outline: none;
	}
}